<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h3 {
            text-align: center;
            margin: 1em;
        }
        .items {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .items img {
            height: 60%;
        }
        .card {
            height: 400px;
            margin: 1rem;
        }
        .card-body {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>freEbay</h1>      
            <p>Better than Ebay</p>
        </div>
    </div>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
            <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
            <li class="breadcrumb-item"><a href="/sells">Sell</a></li>
            <li class="breadcrumb-item"><a href="/home">Log-out</a></li>
        </ol>
    </nav>
    <h3>${message}</h3>
    <h3>${number}</h3>
    <div class="items">
        ${
            purchases.map((aPurchase) => {
                return `<div class="card" style="width: 18rem;">
                        <img src="${aPurchase.image}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">${aPurchase.name}</h5>
                            <!-- <h5>${aPurchase.id}</h5> -->
                            <p class="card-text">$${aPurchase.price}</p>
                            <form
                                action="/dashboard/${aPurchase.id}"
                                method="POST"
                            >
                            <button class="btn btn-primary">Sell</button>
                            </form>
                        </div>
                    </div>`
            }).join('')
        }
    </div>
</body>
</html>