<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h3 {
            text-align: center;
            margin: 1em;
        }
        .form-group {
            padding-left: 20%;
            padding-right: 20%;
        }
    </style>
</head>
<body>
    <div class="jumbotron">
        <div class="container text-center">
            <h1>freEbay</h1>      
            <p>Better than Ebay</p>
        </div>
    </div>
    <h3>${freebay}</h3>
    <h3>${message}</h3>
    <form
        action="/home"
        method="POST"
    >  
    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input value="${email}" name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input value="" name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>
</html>