<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Shop</a></li>
            <li class="breadcrumb-item"><a href="/sells">Sell</a></li>
            <li class="breadcrumb-item"><a href="/home">Log Out</a></li>
        </ol>
    </nav>
    <h1>${message}</h1>
    <ul>
        ${
            items.map((anItem) => {
                return `<div class="card" style="width: 18rem;">
                        <img src="${anItem.image}" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">${anItem.name}</h5>
                            <p class="card-text">$${anItem.price}</p>
                            <a href="#" class="btn btn-primary">Buy</a>
                        </div>
                    </div>`
            }).join('')
        }
    </ul>
</body>
</html>